.toy-filter {
    background-color: lightblue;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    margin-right: 10px;
}

.filter-form {
    display: flex;
    align-items: center;
}