.toy-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr1bg);
    width: 350px;
    border-radius: 15px;
    margin: auto;
    margin-top: 20px;
}

.details-btns{
display: flex;
justify-content: space-between;
}